body {
    font-size: default;
    color: black;
    margin: 10px;
    padding: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #002bb8;
    background: none;
}
a:visited {
    color: #5a3696;
}
a:active {
    color: #faa700;
}
a:hover {
    text-decoration: underline;
}
a.headerlink {
    color: #C60F0F;
    font-size: 0.8em;
    padding: 0 4px;
    text-decoration: none;
}

div.section:target {
    background-color: #E9F2A7;
}

img {
    border: none;
    vertical-align: middle;
}
p {
    margin: .4em 0 .5em 0;
    line-height: 1.5em;
}

hr {
    height: 1px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
    margin: .2em 0 .2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    background: none;
    font-weight: normal;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .17em;
    border-bottom: 1px solid #aaa;
}
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h3, h4, h5, h6 {
    border-bottom: none;
    font-weight: bold;
}
h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

ul {
    line-height: 1.5em;
    list-style-type: square;
    margin: .3em 0 0 1.5em;
    padding: 0;
}
ol {
    line-height: 1.5em;
    margin: .3em 0 0 3.2em;
    padding: 0;
}
li {
    margin-bottom: .1em;
}
dt {
    font-weight: bold;
    margin-bottom: .1em;
}
dl {
    margin-top: .2em;
    margin-bottom: .5em;
}
dd {
    line-height: 1.5em;
    margin-left: 2em;
    margin-bottom: .1em;
}
code {
    background-color: #f9f9f9;
}
pre {
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
}

/* Thumbnails */
div.tright {
    clear: right;
    float: right;
    border-width: .5em 0 .8em 1.4em;
}
div.tleft {
    float: left;
    clear: left;
    margin-right: .5em;
    border-width: .5em 1.4em .8em 0;
}
img.thumbborder {
    border: 1px solid #dddddd;
}
div.thumb {
    margin-bottom: .5em;
    border-style: solid;
    border-color: white;
    width: auto;
}
div.thumbinner {
    border: 1px solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
.thumbimage {
    border: 1px solid #ccc;
}
.thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em;
    padding: 3px !important;
    font-size: 94%;
}
